.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  @media (min-width: 767px) {
    padding-top: 2rem;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  }
}

.imgContainer {
  width: 100;

  @media (min-width: 767px) {
    width: 50%;
  }
}

.img {
  width: 150%;
  flex-grow: 0;

  @media (min-width: 767px) {
    width: 100%;
  }

  @media (min-width: 1024px) {
    width: 120%;
  }
}

.text {
  margin: 0 auto;
  text-align: center;
  flex-shrink: 0;
  width: 90%;

  @media (min-width: 767px) {
    width: 50%;
    text-align: left;
    padding: 0;
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;

  @media (min-width: 767px) {
    font-size: 3.25rem;
    margin-top: 0;
  }
}

.description {
  color: var(--gray-300);
  margin-bottom: 1.5rem;
}
